In [1]:
import numpy as np
import pandas as pd

In [2]:
xls = './rate_sheet (1).xlsx'
source = pd.read_excel(xls, 'Table 1')
dest_1 = pd.read_excel(xls, 'Sheet2')
dest_2 = pd.read_excel(xls, 'Sheet3')
look = pd.read_excel('./lookup.xlsx')

In [3]:
print (look.shape)
look.head()

(618, 3)

    PortName PortCode               Country
0   AALESUND    NOAES                NORWAY
1     AARHUS    DKAAR               DENMARK
2    ABIDJAN    CIABJ         COTE D'IVOIRE
3  ABU DHABI    AEAUH  UNITED ARAB EMIRATES
4   ACAJUTLA    SVAQJ           EL SALVADOR

In [4]:
print (dest_1.shape)
dest_1.head()

(0, 2)

Empty DataFrame
Columns: [Port Not Found, position]
Index: []

In [5]:
print (dest_2.shape)
dest_2.head()

(3, 10)

,"Sr, No",POL,POD,20ft,40ft,40HC,All Remarks,Trade,TT,Validity
0,1,INNSA,DKAAL,994,1369,1369,EBS USD 55/TEU +ENS USD25 -Haz Surcharge - $10...,EPIC,33,08/31/2018
1,2,INMUN,DKAAL,994,1369,1369,EBS USD 55/TEU +ENS USD25 -Haz Surcharge - $10...,EPIC,33,08/31/2018
2,3,INHZR,DKAAL,994,1369,1369,EBS USD 55/TEU +ENS USD25 -Haz Surcharge - $10...,EPIC,33,08/31/2018

In [6]:
a = [1,2,3]
b = 4
print (type(a))
b in a

<class 'list'>

False

In [7]:
def inLookUp(pol,pod):
    look = pd.read_excel('./lookup.xlsx')
    if(pol in list(look['PortName']) and pod in list(look['PortCode'])):
        return 1
    else:
        return 0
def code(pol):
    look = pd.read_excel('./lookup.xlsx')
    for i in range(look.shape[0]):
        if(look.iloc[i]['PortName']==pol):
            return look.iloc[i]['PortCode']
    return -1
def check(a,b):
    for i in range(len(b)):
        if(a[0][0]==b[i][0] and a[0][1]==b[i][1]):
            return 1
    return 0

In [8]:
# print(inLookUp('NHAVA SHEVA','DKAAR'))
# print(code('AARHUS'))
# # check([['1','2']],)
# check([['NHAVA SHVA','DENMARK']],dest_1_row)

In [9]:
print (source.shape)
source.head()

(68, 13)

,TRADE,POL,POD CODE,POD,Country,ROUTING,TT,20'Ft,40'Ft,40'HC,remarks,special remarks,VALIDITY
0,EPIC,NHAVA SHEVA/MUNDRA/HAZIRA,DKAAL,AALBORG,DENMARK,HAMBURG,33,994,1369,1369,EBS USD 55/TEU +ENS USD25 -Haz Surcharge -\n$1...,NaN,2018-08-31
1,EPIC,NHAVA SHEVA/MUNDRA/HAZIRA,DKAAR,AARHUS,DENMARK,HAMBURG,33,919,1269,1269,EBS USD 55/TEU +ENS USD25 -Haz Surcharge -\n$1...,NaN,2018-08-31
2,EPIC,NHAVA SHEVA/MUNDRA/HAZIRA,CIABJ,Abidjan,IVORY COAST,TANGIERS,32,1469,2269,2269,"EBS,ENS, THC. Haz $150/20st & $300/40st. OT\ni...",NaN,2018-08-15
3,GULF,HAZIRA,AEKHL,ABU DHABI,UAE,Direct,8,400,450,450,"ISPS, SEAL,THCS + EBS",HAZ SEC USD 150/300 -- SP Equip sur. (ING) USD...,2018-08-31
4,GULF,MUNDRA,AEKHL,ABU DHABI,UAE,AEKLF,8,350,400,400,"ISPS, SEAL,THCS + EBS",HAZ SEC USD 150/300 -- SP Equip sur. (ING) USD...,2018-08-31

In [10]:
index = 1
dest_2_row = []
dest_1_row = []
for i in range(source.shape[0]):
    data = source.iloc[i,:]
    #print (data.shape)
    POL = data[1]
    POL = POL.split('/')
    pod = data[2]
    pod_name = data[3]
    country = data[4]
    tft = data[7]
    fft = data[8]
    fhc = data[9]
    rem = str(data[10])+str(data[11])
    trade = data[0]
    tt = data[6]
    valid = data[12].date().strftime('%m/%d/%Y')
    
    for pol in POL:
        if(inLookUp(pol,pod)):
            pol_code = code(pol)
            #Write in dest_2
            #print (pol,pod)
            dest_2_row += [[index,pol_code,pod,tft,fft,fhc,rem,trade,tt,valid]];
            #print (dest_2_row)
            index += 1;
        else:
            #write in dest_1
            #print (pol)
            #print (pod)
            if(check([[pol,country]],dest_1_row)==0):
                dest_1_row += [[pol,i+1]];
            if(check([[pod,country]],dest_1_row)==0):
                dest_1_row += [[pod,i+1]];
    #break
            #print ("_")
        #print ("___")
#         if(flag==0):
#             dest_1_row += [[pod,country]];

            
dest_2_row =  pd.DataFrame(dest_2_row)
dest_1_row =  pd.DataFrame(dest_1_row)
print (dest_2_row.shape)
print (dest_1_row.shape)
dest_2_row.columns = ['Sr, No','POL','POD','20ft','40ft','40HC','All Remarks','Trade','TT','Validity'];
dest_1_row.columns = ['Port Not Found','position'];

(91, 10)
(104, 2)

In [11]:
print (dest_1_row.shape)
print (dest_2_row.shape)

(104, 2)
(91, 10)

In [267]:
dest_1_row.to_excel('./missing_port.xlsx',index=0)
dest_2_row.to_excel('./result.xlsx',index=0)

0

In [266]:
# dest_1_row